---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  text-align: justify;
  
  // Ensures words break correctly to prevent awkward gaps
  -webkit-hyphens: auto; // Safari/Webkit fallback
  -ms-hyphens: auto;     // IE/Edge fallback
  hyphens: auto;         // Standard
}

// Reset specific UI elements
button, input, .nav-item {
  text-align: center; // or left
}

.sidebar {
    width: calc(300px - 4em);
}
